@page "/"

@using Blazor.Pokedex.Services
@inject IPokeApiClient PokeApiClient

<h3>PokeDex</h3>

<div>
    <div class="row">
        <div class="col">
            <Pagination MetaData="paginationMetaData" Spread="5" SelectedPage="SelectedPage"></Pagination>
        </div>
    </div>
    <PokemonGrid Pokemons="Pokemons" NumberOfRows="10"></PokemonGrid>
</div>

@code {
    public IEnumerable<Pokemon> Pokemons { get; set; }
    PaginationMetaData paginationMetaData = new PaginationMetaData();
    PaginationParameters paginationParameters = new PaginationParameters();

    protected override async Task OnInitializedAsync()
    {
        var result = await PokeApiClient.GetAllPokemons(paginationParameters);

        var pokemons = new List<Pokemon>();
        foreach (var item in result.Pokemons)
        {
            pokemons.Add(await PokeApiClient.GetPokemon(item.Name));
        }

        Pokemons = pokemons;
        paginationMetaData.TotalCount = result.Count;
        paginationMetaData.TotalPages = paginationMetaData.TotalCount / paginationParameters.PageSize;
    }

    private async Task SelectedPage(int page)
    {
        paginationParameters.PageNumber = page;
        await GetPokemons();
    }

    private async Task GetPokemons()
    {
        var result = await PokeApiClient.GetAllPokemons(paginationParameters);

        var pokemons = new List<Pokemon>();
        foreach (var item in result.Pokemons)
        {
            pokemons.Add(await PokeApiClient.GetPokemon(item.Name));
        }

        Pokemons = pokemons;
    }

}
